<p id="notice" class="text-green-500"><%= notice %></p>

<h1 class="text-3xl font-bold underline mb-4">Listing users</h1>

<table class="min-w-full table-auto border-collapse border border-gray-200">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-4 py-2 text-left border-b border-gray-300">First name</th>
      <th class="px-4 py-2 text-left border-b border-gray-300">Last name</th>
      <th class="px-4 py-2 text-left border-b border-gray-300">Email</th>
      <th class="px-4 py-2 text-left border-b border-gray-300"></th>
      <th class="px-4 py-2 text-left border-b border-gray-300"></th>
      <th class="px-4 py-2 text-left border-b border-gray-300"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr class="hover:bg-gray-50">
      <td class="px-4 py-2 border-b border-gray-300"><%= user.first_name %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= user.last_name %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= user.email %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Show', user, class: 'text-blue-500 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Edit', edit_user_path(user), class: 'text-blue-500 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Destroy', user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4">
  <%= link_to 'New User', new_user_path, class: 'bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
</div>